@{
    ViewData["Title"] = "Home";
}
    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>
                    Solar Power to Save Lives<br />
                </h1>
                <p>Saving lives one solar device at a time!</p>
            </header>
            <p>
                This site is dedicated with saving the lives of people affected by natural disasters by informing them of how
                to sanitize water and cook their food by using simple solar powered devices they build for themselves 
                using only readily available materials.
            </p>
            <p>
                When a natural disaster strikes you may be short on options when it comes to finding clean drinking water and ways to preserve
                or cook food for days, weeks, and even months. Having the knowledge to build solar devices to sanitize 
                water for drinking and safely cook and preserve food could mean the difference between living or dieing.

            </p>
            <p>Click on the "Learn More" button for a deeper dive to learn how these simply made solar devices could save your life.</p>

            <ul class="actions">
                <li><a asp-area="" asp-controller="Home" asp-action="LearnMore" class="button big">Learn More</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="~/images/SolarCookers/simpleboxcooker_thumb.jpg" alt="a simple box solar cooker made with cardboard and aluminum foil" />
        </span>
    </section>

    <!-- Section -->
    <section>
        <header class="major">
            <h2>Most Recently Added Solar Devices</h2>
        </header>
        <div class="posts">
            <article>
                <a href="#" class="image"><img src="~/images/SolarCookers/UmbrellaWithAluminumFoil_thumb.jpg" alt="" /></a>
                <h3>Umbrella Solar Cooker</h3>
                <p>An umbrella and aluminum foil are make an easy parabolic solar cooker.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="~/images/SolarCookers/pizzaboxsolaroven_thumb.jpg" alt="" /></a>
                <h3>Pizza Box Solar Oven</h3>
                <p>A pizza box, a little tin foil, plastic wrap, and a cookie sheet can help reheat leftovers and even make cookies.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="~/images/SolarCookers/simpleboxcooker_thumb.jpg" alt="" /></a>
                <h3>Simple Box Solar Cooker</h3>
                <p>Cardboard and aluminum foil help make a simmering slow cooked stew and more.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
        </div>
    </section>


