@{
    ViewData["Title"] = "How To Create a Parabolic Solar Cooker";
}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>
                @ViewData["Title"]
            </h1>
            <p>This page will help you design and select materials to build a parabolic solar cooker.</p>
        </header>
    </div>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Step 1: Terms you should know</h2>
    </header>

    <header class="major">
        <h2>Step 2: What size to make?</h2>
    </header>

    <header class="major">
        <h2>Step 3: What local material to use?</h2>
    </header>

    <div class="features">
        <article>
            <span class="icon fa-diamond"></span>
            <div class="content">
                <h3>Portitor ullamcorper</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Sapien veroeros</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-rocket"></span>
            <div class="content">
                <h3>Quam lorem ipsum</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Sed magna finibus</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
    </div>
</section>