@{
    ViewData["Title"] = "Quick Starter Plans";
}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>
                @ViewData["Title"]
            </h1>
            <p>If the natural disaster is coming or you've survived it, then you are on the right page. </p>
        </header>
    </div>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Help! A storm is coming!</h2>
        <h3>First: Don't panic.</h3>
        <h3>Second: Download this guide and do what it says to prepare the natural disaster.</h3>
        <p> <a href="PutInUrlHere" /></p>
        <h3>Third: Download, Print/Write Out, and read the following files.</h3>
        <ul>
            <li>Plan 1: Building a Simple Box Solar Cooker</li>
            <li>Plan 2: Building a Simple Parabolic Solar Cooker.</li>
        </ul>
        <h3>Fourth: Teach other people in need how to make the same solar cookers</h3>
    </header>

    <header class="major">
        <h2>Help! We don't have clean water!</h2>
        <h3>First: Don't panic.</h3>
        <h3>Second: Do you have to access to a water source that isn't ocean water. <a href="PutInUrlHere" /></h3>
        <p>If you don't then you'll need to to build a simple solar still</p>
        <p>Here are the plans for it.</p>
        <h3>Third: How to filter water before sanitizing it</h3>
        <h3>Fourth: Download, Print/Write Out, and read the following files.</h3>
        <ul>
            <li>Plan 1: Building a Simple Box Solar Cooker</li>
            <li>Plan 2: Building a Simple Parabolic Solar Cooker.</li>
        </ul>
        <h3>Fifth: Teach other people in need how to make the same solar cookers</h3>
    </header>

    <header class="major">
        <h2>Help! We can't cook our food!</h2>
    </header>

    <h3>First: Don't panic.</h3>
    <h3>Second: Ways to prepare food that do not require power <a href="PutInUrlHere" /></h3>

    <p>If you need clean water to prepare your food then see the section entitled Help! We don't have clean water!"</p>
    <h3>Third: Download, Print/Write Out, and Read the following files.</h3>
    <ul>
        <li>Plan 1: Building a Simple Box Solar Cooker</li>
        <li>Plan 2: Building a Simple Parabolic Solar Cooker.</li>
    </ul>
    <h3>Forth: Teach other people in need how to make the same solar cookers</h3>

</section>